[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts
	branch = master
[submodule "thirdparty/DirectX-Headers"]
	path = thirdparty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
	branch = main
